:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --button-text-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: ;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-link {
  color: var(--logo-color);
}

.nav-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-item {
  list-style: none;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.studio {
  color: var(--accent-color);
}
.studio:active {
  color: var(--logo-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}
.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-background-color);
  width: 1600px;
  height: 600px;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-text-color);
}
.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
